.main-container{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('https://sgl-assets.imgix.net/files/article_hero/top-things-do-yosemite-national-park-via-magazine-shutterstock_758607316.jpg?h=61ce19a1&itok=bX4XJbAO?w=1200h=630&crop=faces,edges');
    box-shadow: 25px 25px 50px 5px rgba(51, 51, 51, 0.40) inset, -25px -25px 50px 50px rgb(51, 51, 51, 0.40) inset;
}

.main-container h1{
    margin-top: 160px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 40px;
}

.main-container .button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
    color: black;
    border: 2px solid #000000a4;
    border-radius: 5px;
}

.main-container .button:hover {
    background-color: rgba(51, 51, 51, 0.281);
}






.popular-container{
    height: 1800px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    
}

.popular-container h1{
    margin: 0;
    padding: 40px 10px;
    text-transform: uppercase;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:honeydew;
}






* {
    box-sizing: border-box;
}
  
  /* Float four columns side by side */
.column {
    float: left;
    width: 33.33333333%;
    padding: 0 20px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
.row {
    padding: 50px 50px; 
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: rgb(70, 70, 70);
    border-radius: 7px;
}
.card h2{
    margin: 0;
    padding-bottom: 10px;
}

.card p{
    text-align: justify;
    padding: 0 10px;
}

.card img{
    width: 95%;
    height: 95%;
    border-radius: 7px;
}

.card .button{
    border: none;
    color: white;
    padding: 16px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.972);
    color: rgb(245, 238, 238);
    border: 2px solid #000000a4;
    border-radius: 5px;
}

.card .button:hover {
    background-color: rgb(6, 19, 0);
}






  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}