/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn {
        @apply inline-block rounded-lg focus:outline-none focus:ring focus:ring-offset-1
        uppercase tracking-wider font-semibold text-base
        transform transition hover:scale-105  duration-500 ease-in-out
    }
    .btn-primary {
        @apply bg-green-600 hover:bg-green-500
        focus:ring-green-500 focus:ring-opacity-50 
        active:bg-green-700 active:text-yellow-300 text-gray-200 hover:-translate-y-1;
    }
    .btn-secondary {
        @apply bg-yellow-300 hover:bg-yellow-200
        focus:ring-yellow-300 focus:ring-opacity-50 
        active:bg-yellow-400 text-gray-900 hover:-translate-y-1;
    }
    .btn-profile {
        @apply bg-blue-400 hover:bg-blue-300
        focus:ring-blue-400 focus:ring-opacity-50 
        active:bg-blue-500 text-gray-900 hover:-translate-y-1;
    }
    .btn-other {
        @apply bg-red-500 hover:bg-red-400
        focus:ring-red-500 focus:ring-opacity-50 
        active:bg-red-600 text-gray-900;
    }
    .btn-gray {
        @apply bg-gray-400 hover:bg-gray-300
        focus:ring-gray-400 focus:ring-opacity-50 
        active:bg-gray-500 text-gray-900 hover:-translate-y-1;
    }



    .popular-home-card {
        @apply rounded-lg shadow-md object-cover 
        border-solid border-4 border-black hover:border-green-600 border-opacity-95
        hover:shadow-2xl transform group-hover:scale-105 duration-500 active:border-green-900;
    }

    .popular-home-card-text {
        @apply absolute text-black text-opacity-90 font-semibold text-lg pt-1
        group-hover:text-green-600 transform group-hover:scale-110 duration-500;
    }


    .popular-explore-card {
        @apply rounded-lg shadow-md object-cover 
        border-solid border-2 border-black hover:border-green-600 border-opacity-95
        hover:shadow-2xl transition transform group-hover:scale-105 duration-500 active:border-green-900;
    }

    .popular-explore-card-text {
        @apply absolute text-black text-opacity-100 font-bold text-base pt-1
        group-hover:text-green-600 transform group-hover:scale-110 duration-500;
    }

    .popular-explore-card-remove {
        @apply rounded-lg shadow-md object-cover 
        border-solid border-2 border-red-700 hover:border-red-500 border-opacity-95
        hover:shadow-2xl transform group-hover:scale-105 duration-500 active:border-red-900;
    }

    .popular-explore-card-text-remove {
        @apply absolute text-red-700 text-opacity-100 font-bold text-base pt-1
        group-hover:text-red-500 transform group-hover:scale-110 duration-500;
    }

    .popular-explore-card-loading {
        @apply rounded-lg shadow-md object-cover 
        border-solid border-2 border-gray-800 border-opacity-80 opacity-80 filter blur animate-pulse;
    }


    .star-btn-explore {
        @apply bg-yellow-100 btn border-2 border-yellow-400 text-yellow-400 font-semibold rounded-full 
        py-3 w-16 h-full text-center text-2xl;
    }



    .bg-gradient {
        @apply bg-gradient-to-b from-yellow-400 to-yellow-700;
    }

    .bg-picture {
        @apply bg-home-image bg-cover bg-center bg-fixed;
    }
}